
* {
  box-sizing: border-box;
}

input {
  width: 45%;
  height: 40px;
  border-radius: .35em;
  border: 1.5px solid #DCDCDC;
  font-size: 16px;
}

.search {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  border: 110px;
}

.gallery {
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
}

.gallery img {
  padding: 20px;
}

::placeholder {
  color: #c0c0c0;
  padding-left: 10px;
  font-size: 14px;
}
